@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&family=Montserrat:wght@300&display=swap" rel="stylesheet');

.App{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.welcome{
  text-align: center;
  padding-left: 10px;
  
}
.welcome.img{
  object-fit: cover;
}
.profile-pics{
  width: 200px;
  height:300px;
  object-fit: cover;
  border-radius: 10px;
}
.dis,h4{
  padding:50px 100px 0px 100px;
  text-align: center;
  color:rgb(93, 128, 94);
  
}
.header,h1{
  text-align: center;
 
  font-family: 'Montserrat', sans-serif;
  
  color: rgb(255, 0, 0);
 
  padding-left: 30px;
  padding-right: 30px;

}
.layout-main{
  width: 100%;
  height: 100%;
  background:url("https://images.squarespace-cdn.com/content/v1/52583dcce4b034d72304324c/1396588666482-0CHUHK9XBMITLC6VNHRA/image-asset.jpeg?format=1000w") no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  background: 'rgba(0.5, 0.5, 0.5, 2.5) '
  
  
}
.movie-title,h2{
  text-align: center;
  color: rgb(0, 195, 255);
}
.dis.sum,b{
  font-size: l00px;
  color: rgb(255, 0, 0);
}
.Counter,button{
  padding-left: 50px;
  background-color: red;
  height: 100px;
  text-align: center;
  
}